/* 
    1. 속성 선택자
    : 모든 div 태그들 중 name 속성 값이 name1과 "일치"하는 요소
*/
div[name=name1] {
    background-color: orangered;
}

/* 
    2. ~= : 속성의 "포함" 여부 (단어로써 포함되어 있는지)
    div 태그 중 name 속성 값에 name1이 "포함"되어 있는 요소를 선택
*/
div[name~=name1] {
    background-color: darkred;
}

/* 
    3. |= : 속성의 "시작"을 검사(앞의 한 단어 전체 기준)
    div 중 class 속성 값이 div로 "시작"되는 요소를 선택
*/
div[class|=div] {
    background-color: cyan;
}

/* 
    ^= : 속성의 시작값을 검사
    div 중 name 속성의 값이 na 로 "시작"되는 요소를 선택
*/
div[name^=na] {
    background-color: blue;
}

/* 
    $= : 속성 값이 뭘로 "끝"나는 지를 검사
    div 태그들 중 class 속성 값이 ss 로 끝나는 요소를 선택
*/
div[class$=ss] {
    color: white;
}

/* 
    *= : 클래스에 요소가 "포함"되어 있는지 검사
    div 중 class 속성 값에 i가 "포함"되어 있는 요소를 선택
*/
div[class*=i] {
    background-color: gold;
    color: darkred;
}


/* 
    class 속성 값이 div-class 인 애들 중 name 속성 값에 name3가 포함되어 있는 요소 선택
    선택 후 스타일 부여는 자유
*/
div[class=div-class][name~=name3] {
    background-color: darkslateblue;
}

/* 또는 */
/* 얘는 명시도가 가장 높은 방식 */
.div-class[name~=name3] {
    color: mediumspringgreen;
}



/* 
    2. 자손 & 후손 선택자
    a > b : a요소의 자손들 중 b요소들 선택
 */
#test1>h4 {
    background-color: orange;
}

#test1>li {
    /* li는 자손이 아닌 후손이기에 작동 안함 */
    background-color: dodgerblue;
}

#test1>ul>li {
    background-color: darkgreen;
}


/* 
    a b : a요소의 후손들 중 b요소만 선택
*/
#test1 li {
    color: tomato;
    background-color: darkred;
}



/* 3. 동위 선택자 */
/* a + b : a 요소 뒤의 b 요소 하나만을 선택한다 */
#test2+div {
    background-color: darkkhaki;
}

/* 
    바로 뒤의 요소만 뽑을 수 있기 때문에 a 요소 뒤로 오는 놈들 중 첫 번째 b 요소 이딴거 안된다. 
    따라서 #test2 + ul 이런 식으로는 절대 ul 요소를 추출할 수 없다 
*/

/* a ~ b : a 요소 뒤에 모는 b 요소 다 선택 */
#test2 ~ div {
    /* background-color: white; */
}

#test2 ~ ul {
    background-color: rebeccapurple;
}


/* 4. 반응 선택자 */
.area {
    background-color: yellowgreen;
    width: 100px;
    height: 100px;
    /* pointer : 손모양으로 커서 변경 */
    cursor: pointer; 
}

#active-test:active {
    background-color: yellow;
    color: red;
}

#hover-test:hover {
    background-color: maroon;
    color: white;
}


/* 5. 상태 선택자 */
input[type=checkbox]:checked {
    width: 20px;
    height: 20px;
    /* font-size: 20px; 얘는 안됨 */
}

input[type=checkbox]:checked+label {
    font-size: 20px;
}

input:focus {
    background-color: pink;
}